.navbar{
    position: relative;
    height: 72px;
    width: 100%;
    border-bottom: 1px solid #eae8f1;

}

.headerleft{
    background-color: #edecf0;
    border-radius: 40px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin-left: 200px;
    margin-bottom: 25px;
}
input{
    outline: none;
    background: none;
    border: none;
    width: 250px;
    margin-left: 20px;
}
.searchicon{
    color: #afacb7;
    width: 50px;
    height: 50px;
    font-size: large;
    font-weight: bold;
}

.headerright{
    margin-right: 20px;
    color: #afacb7;

}

.headerright ul{
display: flex;
align-items: center;
justify-content: center;



}
.headerright ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 10px;

}
.usflag{
    width: 35px;

}
.avatar{
    border-radius: 100px;
    width: 45px;

}
.headerright ul li a{
    color: #afacb7;
}

.flags{
    position: absolute;
    left: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #eae8f1;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
}


.flags li a img{
    width: 35px;
    margin-right: 20px;
}
.flags span{
    color: black;
    font-size: small;
}

.sub-menu{
    display: none;
}

hover-me:hover .sub-menu{
    position: absolute;
    display: block;
   

}